{% extends "base.html" %}

{% block contenido %}

<h1>
    {% if servicio %}
        Editar servicio
    {% else %}
        Nuevo servicio
    {% endif %}
</h1>

<form method="POST">

    <div>
        <label>Nombre</label>
        <input type="text" name="nombre" value="{{ servicio.nombre if servicio else '' }}" required>
    </div>

    <div>
        <label>Duracion En Minutos</label>
        <input type="text" name="duracion_minutos" value="{{ servicio.duracion_minutos if servicio else '' }}" required>
    </div>

    <div>
        <label>Precio</label>
        <input type="text" name="precio" value="{{ servicio.precio if servicio else '' }}">
    </div>

    <button type="submit">
        Guardar
    </button>

</form>

{% endblock %}