{% extends "base.html" %}

{% block contenido %}

<h1>Servicios</h1>

<a href="{{ url_for('servicio.nuevo') }}">Nuevo Servicio</a>

<div>

    {% if servicios %}

    <table>

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Duracion En Minutos</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>

        {% for s in servicios %}

        <tr>

            <td>{{ s.id }}</td>

            <td>{{ s.nombre }}</td>

            <td>{{ s.duracion_minutos }}</td>

            <td>{{ s.precio }}</td>

            <td>
            <a href="{{ url_for('servicio.editar', id=s.id) }}">Editar</a>
            
            {% if s.activo %}

            <form method="POST" action="{{ url_for('servicio.desactivar', id=s.id) }}" style="display:inline;">
                <button type="submit">Desactivar</button>
            </form>

            {% else %}

            <form method="POST" action="{{ url_for('servicio.activar', id=s.id) }}" style="display:inline;">
                <button type="submit">Activar</button>
            </form>

            {% endif %}
            </td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

    <p>No hay servicios registrados.</p>

    {% endif %}

</div>

{% endblock %}