<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Turnos</title>
</head>
<body>

    <nav>

        <div>

            <a href="/">
                Sistema de Turnos
            </a>

            <div>

                <ul>
                    <li>
                        <a href="{{ url_for('cliente.listar') }}">
                            Clientes
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('servicio.listar') }}">
                            Servicios
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('turno.listar') }}">
                            Turnos
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <div>
        {% block contenido %}
        {% endblock %}
    </div>

</body>
</html>